@font-face {
  font-family: "ptb"; /* Project id 2738560 */
  src: url('iconfont.woff2?t=1631510394414') format('woff2'),
       url('iconfont.woff?t=1631510394414') format('woff'),
       url('iconfont.ttf?t=1631510394414') format('truetype');
}

.ptb {
  font-family: "ptb" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pxc-dianhua:before {
  content: "\e641";
}

.pxc-dianhua1:before {
  content: "\e729";
}

.pxc-a-3User:before {
  content: "\e63e";
}

.pxc-a-AddUser:before {
  content: "\e63f";
}

.pxc-a-2User:before {
  content: "\e640";
}

.pxc-Danger:before {
  content: "\e635";
}

.pxc-Download:before {
  content: "\e636";
}

.pxc-a-InfoCircle:before {
  content: "\e637";
}

.pxc-Send:before {
  content: "\e638";
}

.pxc-Swap:before {
  content: "\e639";
}

.pxc-a-Arrow-Down3:before {
  content: "\e63a";
}

.pxc-a-Arrow-Left3:before {
  content: "\e63b";
}

.pxc-a-Arrow-Right3:before {
  content: "\e63c";
}

.pxc-a-Arrow-Down:before {
  content: "\e63d";
}

.pxc-riyongbaihuo:before {
  content: "\e6c2";
}

.pxc-life-copy:before {
  content: "\e62f";
}

.pxc-heipishangyi:before {
  content: "\e630";
}

.pxc-zuji:before {
  content: "\e631";
}

.pxc-shangyi:before {
  content: "\e632";
}

.pxc-shangyi1:before {
  content: "\e633";
}

.pxc-shuben3:before {
  content: "\e634";
}

.pxc-a-ziyuan44:before {
  content: "\e60b";
}

.pxc-a-ziyuan45:before {
  content: "\e60e";
}

.pxc-a-ziyuan42:before {
  content: "\e61c";
}

.pxc-a-ziyuan41:before {
  content: "\e629";
}

.pxc-a-ziyuan35:before {
  content: "\e62a";
}

.pxc-TrendUp:before {
  content: "\e653";
}

.pxc-TrendDown:before {
  content: "\e654";
}

.pxc-Hand:before {
  content: "\e67d";
}

.pxc-a-Iconly-Bold-Arrow-Left3:before {
  content: "\e600";
}

.pxc-a-Iconly-Bold-Arrow-Right3:before {
  content: "\e601";
}

.pxc-a-Iconly-Bold-Arrow-Down3:before {
  content: "\e602";
}

.pxc-a-Iconly-Bold-Arrow-Up3:before {
  content: "\e62b";
}

.pxc-Iconly-Bold-Lock:before {
  content: "\e62d";
}

.pxc-Iconly-Bold-Unlock:before {
  content: "\e62e";
}

.pxc-naozhong-copy:before {
  content: "\e62c";
}

.pxc-rmb:before {
  content: "\e761";
}

.pxc-sorting:before {
  content: "\e766";
}

.pxc-CurrencyConverter-fill:before {
  content: "\e77c";
}

.pxc-collection:before {
  content: "\e79d";
}

.pxc-collection-fill:before {
  content: "\e79e";
}

.pxc-quick:before {
  content: "\e7a3";
}

.pxc-microphone:before {
  content: "\e7bf";
}

.pxc-cangku:before {
  content: "\e7c1";
}

.pxc-dongtai:before {
  content: "\e7c2";
}

.pxc-add:before {
  content: "\e664";
}

.pxc-add-circle:before {
  content: "\e665";
}

.pxc-arrow-double-left:before {
  content: "\e666";
}

.pxc-arrow-double-right:before {
  content: "\e667";
}

.pxc-direction-down:before {
  content: "\e66b";
}

.pxc-direction-right:before {
  content: "\e66c";
}

.pxc-direction-up:before {
  content: "\e66d";
}

.pxc-direction-left:before {
  content: "\e66e";
}

.pxc-error:before {
  content: "\e673";
}

.pxc-favorite:before {
  content: "\e674";
}

.pxc-fabulous:before {
  content: "\e675";
}

.pxc-telephone-out:before {
  content: "\e680";
}

.pxc-telephone:before {
  content: "\e681";
}

.pxc-arrow-left-bold:before {
  content: "\e685";
}

.pxc-arrow-up-bold:before {
  content: "\e686";
}

.pxc-arrow-down-bold:before {
  content: "\e687";
}

.pxc-arrow-right-bold:before {
  content: "\e688";
}

.pxc-maichepin:before {
  content: "\e603";
}

.pxc-aichegujiabeifen5:before {
  content: "\e605";
}

.pxc-zhuanchezhuanyongbeifen:before {
  content: "\e606";
}

.pxc-aichegujiabeifen6:before {
  content: "\e608";
}

.pxc-wode1:before {
  content: "\e628";
}

.pxc-gouwuche:before {
  content: "\e6fb";
}

.pxc-kefu:before {
  content: "\e6fd";
}

.pxc-qianbao:before {
  content: "\e6fe";
}

.pxc-yincang:before {
  content: "\e700";
}

.pxc-xianshi:before {
  content: "\e701";
}

.pxc-icon-guanbi-14x14:before {
  content: "\e604";
}

.pxc-shouye:before {
  content: "\e65b";
}

.pxc-wode:before {
  content: "\e65c";
}

.pxc-faxian:before {
  content: "\e65d";
}

.pxc-fangdajing:before {
  content: "\e660";
}

.pxc-shezhi:before {
  content: "\e661";
}

.pxc-bianji:before {
  content: "\e662";
}

.pxc-shanchu:before {
  content: "\e663";
}

.pxc-jine:before {
  content: "\e669";
}

.pxc-quanping:before {
  content: "\e66f";
}

.pxc-zhiding:before {
  content: "\e670";
}

.pxc-zhidi:before {
  content: "\e671";
}

.pxc-yulan:before {
  content: "\e672";
}

.pxc-Dots:before {
  content: "\e60d";
}

.pxc-TeardropDots:before {
  content: "\e60f";
}

.pxc-RssSimple:before {
  content: "\e610";
}

.pxc-ThumbsUp:before {
  content: "\e611";
}

.pxc-ShareNetwork:before {
  content: "\e623";
}

.pxc-ThumbsDown:before {
  content: "\e626";
}

.pxc-HashStraight:before {
  content: "\e627";
}

.pxc-URightDown:before {
  content: "\e617";
}

.pxc-CaretCircleRight:before {
  content: "\e618";
}

.pxc-CaretCircleLeft:before {
  content: "\e619";
}

.pxc-CircleDown:before {
  content: "\e61a";
}

.pxc-CaretCircleDoubleUp:before {
  content: "\e61b";
}

.pxc-CircleUp:before {
  content: "\e61d";
}

.pxc-CircleDownLeft:before {
  content: "\e61e";
}

.pxc-CircleRight:before {
  content: "\e61f";
}

.pxc-SquareDown:before {
  content: "\e624";
}

.pxc-sCounterClockwise:before {
  content: "\e625";
}

.pxc-danmaichakouchatouchaxiao:before {
  content: "\e612";
}

.pxc-meiguo3chakouchatouchaxiao:before {
  content: "\e613";
}

.pxc-guanbi:before {
  content: "\e607";
}

.pxc-sousuo:before {
  content: "\e609";
}

.pxc-shaixuan:before {
  content: "\e60a";
}

.pxc-erweima:before {
  content: "\e60c";
}

.pxc-black-plane:before {
  content: "\e614";
}

.pxc-budget:before {
  content: "\e615";
}

.pxc-checked:before {
  content: "\e616";
}

.pxc-heartbeat:before {
  content: "\e620";
}

.pxc-car:before {
  content: "\e621";
}

.pxc-gamepad-controller:before {
  content: "\e622";
}

